<div class="container row">
    <div style="width: 30%; float: left">
        <img src="OmdbItem.Poster" alt="poster" style="width: 200px;" />
    </div>
    <div style="width: 70%; float: right">
        <table>
            <tbody>
                <tr>
                    <td style="width: 20%"></td>
                    <td style="width: 80%"></td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>OmdbItem.Title</td>
                </tr>
                <tr>
                    <td>Year </td>
                    <td>OmdbItem.Year</td>
                </tr>
                <tr>
                    <td>Release Date </td>
                    <td>OmdbItem.Released</td>
                </tr>
                <tr>
                    <td>Runtime </td>
                    <td>OmdbItem.Runtime</td>
                </tr>
                <tr>
                    <td>Rated </td>
                    <td>OmdbItem.Rated</td>
                </tr>
                <tr>
                    <td>Genre </td>
                    <td>OmdbItem.Genre</td>
                </tr>
                <tr>
                    <td>Director </td>
                    <td>OmdbItem.Director</td>
                </tr>
                <tr>
                    <td>Writer </td>
                    <td>OmdbItem.Writer</td>
                </tr>
                <tr>
                    <td>Actors </td>
                    <td>OmdbItem.Actors</td>
                </tr>
                <tr>
                    <td>Plot </td>
                    <td>OmdbItem.Plot</td>
                </tr>
                <tr>
                    <td>Language </td>
                    <td>OmdbItem.Language</td>
                </tr>
                <tr>
                    <td>Country </td>
                    <td>OmdbItem.Country</td>
                </tr>
                <tr>
                    <td>Awards </td>
                    <td>OmdbItem.Awards</td>
                </tr>
                <tr>
                    <td>Metascore </td>
                    <td>OmdbItem.Metascore</td>
                </tr>
                <tr>
                    <td>imdbRating </td>
                    <td>OmdbItem.imdbRating</td>
                </tr>
                <tr>
                    <td>imdbVotes </td>
                    <td>OmdbItem.imdbVotes</td>
                </tr>
                <tr>
                    <td>Type </td>
                    <td>OmdbItem.Type</td>
                </tr>
                <tr>
                    <td>DVD </td>
                    <td>OmdbItem.DVD</td>
                </tr>
                <tr>
                    <td>BoxOffice </td>
                    <td>OmdbItem.BoxOffice</td>
                </tr>
                <tr>
                    <td>Website </td>
                    <td>OmdbItem.Website</td>
                </tr>
                <tr>
                    <td>Response </td>
                    <td>OmdbItem.Response</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>